---
import Layout from "../layouts/Layout.astro";
import Picture from "../components/Picture.astro";
import Username from "../components/Username.astro";
import Items from "../components/Items.astro";
---

<Layout>
  <main class="mx-auto mb-12">
    <header class="mt-12 flex flex-col items-center">
      <Picture />
      <Username />
    </header>
    <section class="mt-6 flex flex-wrap justify-center gap-6">
      <Items />
    </section>
  </main>
</Layout>
