---
import Footer from "../components/Footer.astro";
import HeadCommon from "../components/HeadCommon.astro";
import HeadSEO from "../components/HeadSEO.astro";
---

<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <HeadCommon />
    <HeadSEO />
  </head>
  <body class="overflow-x-hidden bg-primaryDotted bg-primaryDottedSize">
    <div class="flex min-h-screen flex-col">
      <div class="flex-grow">
        <slot />
      </div>

      <Footer />
    </div>
  </body>
</html>
